*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 150vh;
    background-color: whitesmoke;
}
.container{
    width: 45%;
    padding: 25px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border: none;
    background-color:  hsl(0, 0%, 100%);
    margin-left: auto;
    margin-right: auto;
}

.title {
    display: flex;
    justify-content: space-between;
}

.p-1{
    color:  hsl(219, 12%, 42%);
    cursor: pointer;
    font-size: 16px;
}

.p-1:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
    
}

.title{
    margin-bottom: 25px;
}

.title h1{
    font-size: 25px;
    
}

.title span{
    margin-left: 15px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    background-color: hsl(219, 85%, 26%);
    color: hsl(0, 0%, 100%);
    border: none;
    
}

.box-1{
    border: 1px solid black;
    padding: 10px;
    height: 80px;
    border-radius: 10px;

    border: none;
    margin-bottom: 20px;
    
}

.content-1{
    display: flex;
    gap: 1rem;
    
}

.content-1 h3{
    font-size: 16px;
    padding-top: 10px;
    color:  hsl(219, 12%, 42%);
    font-weight: 750;

}

.name-1{
    color: black;
    cursor: pointer;
}

.name-1:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
}

.icon-1, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6, .icon-7{
    width: 55px;
}

.dot-png{
    width: 10px; 
    align-items: end;
    margin-left: 5px;
}

.box-2{
    border: 1px solid black;
    padding: 10px;
    height: 80px;
    border-radius: 10px;

    border: none;
    margin-bottom: 20px;
    
}

.content-2{
    display: flex;
    gap: 1rem;
    
}

.content-2 h3{
    padding-top: 10px;
}

.name-2{
    cursor: pointer;
    color: black;
    font-size: 16px;
}

.name-2:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
   
}

.tag-1{
    font-size: 16px;
    color: hsl(219, 12%, 42%);
}

.minute-1{
    color: hsl(219, 12%, 42%);
    font-size: 15px;
    
}

.box-3{
    border: 1px solid black;
    padding: 10px;
    height: 80px;
    border-radius: 10px;

    border: none;
    margin-bottom: 20px;
}

.content-3{
    display: flex;
    gap: 1rem;
}

.content-3 h3{
    font-size: 16px;
    padding-top: 10px;
    color:  black;
    font-weight: 750;

}

.box-4{
    
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px;    
}
h3{
    padding-top: 10px;
}
.name-3{
    cursor: pointer;
}

.name-3:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
}

.content-4{
    display: flex;
    gap: 1rem;
}


.name-4{
    font-size: 16px;
    cursor: pointer;
    font-weight: 750;
}

.name-4:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
}

.caption-1{
    font-size: 15px;
    color: hsl(219, 12%, 42%);
}

.descrip{
    font-size: 15px;
    color: hsl(219, 12%, 42%);
    font-weight: 100;
}

.box-5{
    padding: 10px;
    height: 80px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px; 
}
.chess-png{
    width: 50px;
    margin-left: 230px;
}

.content-5{
    display: flex;
    gap: 1rem;
}
 

.name-5{
    font-size: 16px;
    cursor: pointer;
}

.name-5:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
}

.box-6{
    padding: 5px;
    height: 80px;
    border-radius: 10px;
    border: none;
    margin-bottom: 20px; 
}

.content-6{
    display: flex;
    gap: 1rem;
}

.content-6 h3{
    font-size: 16px;
}

.name-6 {
    font-size: 16px;
    cursor: pointer;
}

.name-6:hover{
    color: hsl(219, 85%, 26%);
    transition: 0.5s;
}

.caption-2{
    color: hsl(219, 12%, 42%);
}

.content-7{
    display: flex;
    gap: 1rem;
}

/* for notifnum*/
.numperbox{
    background-color:    hsl(211, 68%, 94%);
}

.numperbox .name-1:first-of-type::after{
    content: " ";
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    left: 82%;
    top: 0%;
    margin-bottom: 1px;
   
  
   
    
  }

  .numperbox span:first-of-type::after{
    content: " ";
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    right: 0%;
    left: 55%;
   
  }
    

  .numperbox .name-3:first-of-type::after{
    content: " ";
    background-color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
     left: 68%;
    right: 0%;
   
    
    
  }


  @media only screen and (max-width: 768px){
    body{
        height: 100vh;
    }
   .container{
    width: 80%;
    
   }
   .p-1{
    font-size: 18px;
   }

   .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
    margin-bottom: 15px;
   }

   .content-1 h3{
    font-size: 15px;
   }

   .numperbox .name-1:first-of-type::after{
    position: relative;
    left: 73%;
   }

   .icon-5{
    width: 50px;
    height: 55px;
   }
   
   .chess-png{
    width: 40px;
    height: 50px;
   }

   .icon-6, .icon-7{
    height: 55px;
   }

}
  @media only screen and (max-width: 480px){
    body{
        height: 100vh;
    }   

    .container{
        width: 100%;
        height: 80%;
    }

    .icon-1{
        height: 55px;
        width: 50px;
    }

    .content-1 h3{
        font-size: 13px;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
        margin-bottom: 15px;
       }

    .numperbox .name-1:first-of-type::after{
        position: relative;
        left: 65%;
        width: 8px;
        height: 8px;
    }

    .box-2{
        height: 75px;
    }
    .icon-2{
        width: 50px;
        height: 50px;
    }

    .name-2, .tag-1{
        font-size: 15px;
    }

    .numperbox span:first-of-type::after{
        width: 8px;
        height: 8px;
    }

    .box-3{
        height: 75px;
    }
    
    .icon-3{
        width: 50px;
        height: 55px;
    }

    .content-3 h3, .name-4{
        font-size: 13px;
    }

    .numperbox .name-3:first-of-type::after{
        width: 8px;
        height: 8px;
    }

    .name-5, .caption-1, .descrip{
        font-size: 13px;
    }


    .chess-png{
        margin-left: 0px;
        height: 45px;
    }

    .name-6, .caption-2{
        font-size: 13px;
    }
    
  }

  @media only screen and (max-width: 430px){
    body{
        height: 100vh;
    }   

    .container{
        width: 100%;
        height: 80%;
    }

    .icon-1{
        height: 55px;
        width: 50px;
    }

    .content-1 h3{
        font-size: 13px;
    }
    .box-1, .box-2, .box-3, .box-4, .box-5, .box-6{
        margin-bottom: 15px;
       }

    .numperbox .name-1:first-of-type::after{
        position: relative;
        left: 22%;
        width: 8px;
        height: 8px;
        top: 35%;
        
    }

    .box-2{
        height: 75px;
    }
    .icon-2{
        width: 50px;
        height: 50px;
    }

    .name-2, .tag-1, .minute-1{
        font-size: 13px;
    }

    .numperbox span:first-of-type::after{
        width: 8px;
        height: 8px;
    }

    .box-3{
        height: 75px;
    }
    
    .icon-3{
        width: 50px;
        height: 55px;
    }

    .content-3 h3, .name-4{
        font-size: 11px;
    }

    .content-3 h3{
        padding-top: 5px;
        padding-right: 0px;
    }
    .numperbox .name-3:first-of-type::after{
        position: relative;
        left: 68%;
        
        width: 8px;
        height: 8px;
    }

    .name-5, .caption-1, .descrip{
        font-size: 13px;
    }


    .chess-png{
        margin-left: 0px;
        height: 45px;
    }

    .name-6, .caption-2{
        font-size: 13px;
    }
    
  }


  @media only screen and (max-width: 320px){
    body{
        
        height: 80vh;
    }

    .container{
        height: 90%;
        margin-top: 200px;
    }

    .title h1{
        font-size: 13px;
    }

    .title span{
        margin-left: 5px;
        padding: 7px;
        font-size: 10px;
    }

    .p-1{
        font-size: 13px;
    }

    .box-1, .box-2, .box-3{
        height: 65px;
    }

    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6, .icon-7{
        height: 45px;
        width: 45px;
    }

    .content-1 h3{
        font-size: 8px;
        padding-top: 5px;
    }

    .numperbox .name-1:first-of-type::after{
        position: relative;
        left: 13%;
        top: 30%;
        width: 5px;
        height: 5px;
    }

    .content-2 h3{
        padding: 0%;
    }

    .name-2, .tag-1, .minute-1{
        font-size: 11px;
    }

    .numperbox span:first-of-type::after{
        width: 5px;
        height: 5px;
        margin-bottom: 1px;
        
    }

    .content-3 h3, .name-4{
        font-size: 10px;
    }

    .content-3 h3{
     padding-top: 5px;
     padding-right: 5px;   
    }

    .numperbox .name-3:first-of-type::after{
        position: relative;
        left: 8%;
        right: 0%;
        top: 30%;
        width: 5px;
        height: 5px
        
    }

    .name-4, .caption-1, .descrip{
        font-size: 12px;
    }

    .content-4 h3{
      padding-top: 5px;
    }

    .name-5, .caption-1, .descrip{
        font-size: 10px;
    }
    
    .name-6, .caption-2{
        font-size: 11px;
    }

  }


  @media only screen and (max-width: 360px){
    body{
        
        height: 80vh;
    }

    .container{
        height: 115%;
        margin-top: 150px;
       
    }

    .title h1{
        font-size: 13px;
    }

    .title span{
        margin-left: 5px;
        padding: 7px;
        font-size: 10px;
    }

    .p-1{
        font-size: 13px;
    }

    .box-1, .box-2, .box-3{
        height: 65px;
    }

    .icon-1, .icon-2, .icon-3, .icon-4, .icon-5, .icon-6, .icon-7{
        height: 45px;
        width: 45px;
    }

    .content-1 h3{
        font-size: 8px;
        padding-top: 5px;
    }

    .numperbox .name-1:first-of-type::after{
        position: relative;
        left: 12%;
        top: 30%;
        width: 5px;
        height: 5px;
        margin-bottom: 2px;
    }

    .content-2 h3{
        padding: 0%;
    }

    .name-2, .tag-1, .minute-1{
        font-size: 11px;
    }

    .numperbox span:first-of-type::after{
        width: 5px;
        height: 5px;
        margin-bottom: 1px;
        
    }

    .content-3 h3, .name-3, .name-4{
        font-size: 10px;
    }

    .content-3 h3{
     padding-top: 5px;
     padding-right: 5px;   
    }

    .numperbox .name-3:first-of-type::after{
        position: relative;
        left: 1%;
        right: 0%;
        top: 30%;
        width: 5px;
        height: 5px
        
    }

    .name-4, .caption-1, .descrip{
        font-size: 12px;
    }

    .content-4 h3{
      padding-top: 5px;
    }

    .name-5, .caption-1, .descrip{
        font-size: 10px;
    }
    
    .name-6, .caption-2{
        font-size: 11px;
    }

  }